<p id="notice"><%= notice %></p>

<p>
  <strong>Githuburl:</strong>
  <%= @portfolio.githuburl %>
</p>

<p>
  <strong>Herokuurl:</strong>
  <%= @portfolio.herokuurl %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
